@model IEnumerable<FurnitureHouse.Models.ApplicationUser>
@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<br /><br />
<div class="row">
	<div class="col-6">
		<h2 class="text-info">Admin User</h2>
	</div>
	
	<div class="col-6 text-right">
		<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Create Admin</a>
	</div>
</div>

<br />
<div>
	<table class="table table-striped border">
		<tr class="table-info">
			<th>
				<!--@Html.DisplayNameFor(m => m.Name)-->
				role
			</th>
			<th>
				@Html.DisplayNameFor(m => m.Email)
			</th>
			
			<th>
				@Html.DisplayNameFor(m => m.PhoneNumber)
			</th>
			<th>
				Disabled
			</th>
			<th></th>

		</tr>

		@foreach(var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(m => item.Name)
			</td>
			<td>
				@Html.DisplayFor(m => item.Email)
			</td>
			<td>
				@Html.DisplayFor(m => item.PhoneNumber)
			</td>
			<td>
				@if(item.LockoutEnd!=null && item.LockoutEnd > DateTime.Now)
				{
					<label>Disabled</label>
				}
			</td>
			<td style="text-align:center;">
				@if(item.LockoutEnd==null || item.LockoutEnd < DateTime.Now)
				{
					<a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+item.Id)">Edit</a>
					<a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+item.Id)">Delete</a>
				}
			</td>
		</tr>
		}
	</table>
</div>